@import "../../theme/index.scss";

.about {
    color: $primary-text;

    .info-left {
        svg {
            width: 80px;
            height: 80px;

            path {
                fill: $primary-text
            }
        }

    }

    .badge {
        margin-right: $padding-default*0.5;
        margin-bottom: $padding-default*0.5;
    }
}
