@import "theme2.scss";

$padding-default: 15px;
$padding-nav: 20px;
$padding-item: 40px;

$default-border-radius: 8px;

.btn:hover,
.btn:after {
    background-color: $primary;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
}

.btn-outline-primary {
    border-color: $primary;
    color: $primary;
    border-color: $primary;
}

.bg-primary {
    background-color: $primary  !important;
}

.icon{
    color: $icon-color !important;
    
}