@import "../../theme/index.scss";

.steps {
    display: flex;
    color: $primary-text;

    .step-item {

        border: 0;
        display: flex;
        min-height: 50px;

        .step-left {
            display: flex;
            flex-direction: row;
        }

        .step-item-child-wrapper {
            margin-bottom: $padding-default*2;
        }

        .step-item-icon {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-color: $primary-text;

            margin-top: 6px;
        }

        .step-item-line {
            border-width: 0;
            border-left-width: 2px;
            border-style: solid;
            border-left-color: $primary-text;
            margin-left: -10px;
            margin-right: $padding-default;
        }
    }


}

.horizontal {
    flex-direction: row;

}

.vertical {
    flex-direction: column;
}

.secondary {
    color: $secondary-text  !important;

    .step-item-line {
        border-color: $secondary-text  !important;
    }

    .step-item-icon {
        background-color: $secondary-text  !important;
    }
}
