@import "../../theme/index.scss";

.page.product-page {
    color: $primary-text;

    .menu-buttons {
        display: flex;

    }

    .info-left {
        svg {
            width: 80px;
            height: 80px;

            path {
                fill: $primary-text
            }
        }

    }

    .item {
        padding-bottom: $padding-item;



        .item-tag-caption {
            color: $secondary;
        }

        .item-tags {
            .btn {
                margin-right: $padding-default;
                margin-top: $padding-default*0.5;
            }

            padding-top: $padding-default*0.5;
            padding-bottom: $padding-default;
        }
    }
}
