@import "../../theme/index.scss";

.page {
    color: $secondary-text;

    .info-left {
        svg {
            width: 80px;
            height: 80px;

            path {
                fill: $primary-text
            }
        }

    }

    .work-sub-steps {
        margin-left: 40px;
    }
}
