@import "../../theme/index.scss";

.about {
    color: $secondary;

    .info-left {
        svg {
            width: 80px;
            height: 80px;

            path {
                fill: $secondary
            }
        }

    }

    .work-sub-steps {
        margin-left: 40px;
    }
}
